/* logo-slider */

 .container {
     overflow: hidden;
     width: 100%;
     padding: 50px 0;
     text-align: center;
 }

 .logos {
     padding-bottom: 20px;
 }

 .logo-slider {
     display: flex;
     animation: scroll 15s linear infinite;
     width: max-content;
     padding-top: 20px;
 }

 .logo-slider img {
     height: 50px;
     margin: 0 40px;
     flex-shrink: 0;
 }

 .logos {
     margin-top: 0 !important;
 }

 /* Duplicate the logos for infinite effect */
 .logo-slider::after {
     content: "";
     display: flex;
 }

 @keyframes scroll {
     from {
         transform: translateX(0%);
     }

     to {
         transform: translateX(-50%);
     }
 }

 /* Duplicate logo set for infinite loop */
 .logo-slider::before {
     content: "";
     display: flex;
 }
